/* centers text */

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body,
html,
header {
    background-color: rgb(124, 219, 223);
}

#mainBody {
    background-color: rgb(124, 219, 223);
    padding-top: 15%;
}


/* everything to do with the header */

header {
    height: 100px;
}

#headerTitleBox {
    height: 100px;
    position: relative;
}

#titleText {
    color: purple;
    font-size: 75px;
    font-family: 'Luckiest Guy', cursive;
}

#navButtonBox {
    margin-left: 30px;
}

#hamBar {
    position: absolute;
    left: 30px;
    top: 35%;
    width: auto;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    border-radius: 10px;
    background-color: black;
    height: 4px;
    width: 30px;
    margin: 6px 0;
    transition: 0.4s;
}


/* anamation properties for navbar icon */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    -webkit-transform: rotate(-45deg) translate(-2px, -1px);
    transform: rotate(-45deg) translate(-2px, -1px);
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -5px);
    transform: rotate(45deg) translate(-8px, -5px);
}


/* everything to do with the body */

#homeQuizSelectButton {
    margin-left: 35px;
    border-radius: 40px;
    border: 5px solid rgb(118, 82, 204);
    background-color: rgb(220, 197, 241);
    height: 150px;
    width: 250px;
    color: purple;
    font-size: 30px;
    padding-top: 55px;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#homeQuizSelectButton:hover {
    height: 160px;
    width: 260px;
    padding-top: 60px;
    cursor: pointer;
}


/* everything to do with the quiz select page */

#mainBody-quizSelect {
    background-color: rgb(124, 219, 223);
    padding-top: 10%;
    text-align: center;
}

#quizLinkBox {
    border-radius: 30px;
    border: solid 3px purple;
    width: 250px;
    height: 200px;
    background-color: whitesmoke;
    padding-top: 30px;
}

.quizLink {
    font-size: 20px;
    font-family: 'Luckiest Guy';
}


/* all the css for the quiz */

#mainBody-quiz {
    padding-top: 8%;
    background-color: rgb(124, 219, 223);
}

#answerBox {
    border: 5px solid purple;
    border-radius: 30px;
    text-align: center;
    background-color: whitesmoke;
    margin-top: 100px;
}

#A1 {
    margin-top: 30px;
}

#A1,
#A2,
#A3,
#A4 {
    background-color: rgb(175, 175, 175);
    height: 50px;
    width: 400px;
    margin-bottom: 20px;
    border: 2px solid gray;
    border-radius: 30px;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

#nextBtn {
    height: 35px;
    width: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#A1:active,
#A2:active,
#A3:active,
#A4:active {
    outline: none;
    border: 3px solid rgb(83, 83, 83);
}

#A1:focus,
#A2:focus,
#A3:focus,
#A4:focus {
    outline: 0;
}

.rmv {
    display: none;
}

#timerBox {
    text-align: center;
}

.timer {
    font-family: 'Luckiest Guy';
    font-size: 25px;
}

#startBtn {
    border-radius: 30px;
    background-color: rgb(220, 197, 241);
    border: 5px solid rgb(118, 82, 204);
    font-size: 25px;
    font-family: 'Luckiest Guy';
    font-weight: lighter;
    height: 80px;
    width: 160px;
    margin-bottom: 10px;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.rmvStart {
    display: none;
}


/* stuff for javascript */

.correctText {
    color: rgb(31, 153, 31);
    font-family: 'Luckiest Guy';
}

.incorrectText {
    color: rgb(190, 16, 16);
    font-family: 'Luckiest Guy';
}