/* centers text */
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body, html, header {
    background-color: rgb(124, 219, 223);
}
#mainBody {
    background-color: rgb(124, 219, 223);
    padding-top: 20%;
}


/* everything to do with the header */
header{
    height: 100px;
}

#headerTitleBox {
    height: 100px;
    position: relative;
}

#titleText {
    color: purple;
    font-size: 75px;
    font-family: 'Luckiest Guy', cursive;
}

#navButtonBox {
    margin-left: 30px;
}

#hamBar {
    position: absolute;
    left: 30px;
    top: 35%;
    width: auto;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    border-radius: 10px;
    background-color: black;
    height: 4px;
    width: 30px;
    margin: 6px 0;
    transition: 0.4s;
}
/* anamation properties for navbar icon */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); 
}
.change .bar2 {
    -webkit-transform: rotate(-45deg) translate(-2px, -1px);
    transform: rotate(-45deg) translate(-2px, -1px); 
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -5px);
    transform: rotate(45deg) translate(-8px, -5px);
}